* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(233, 47%, 7%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

#main {
    background-color: hsl(277, 64%, 61%);
    width: 80%;
    height: 60%;
    display: flex;
    border-radius: 6px;
  
}

.left-block {
    background-color: hsl(244, 38%, 16%);
    width: 50%;
    display: flex;
    justify-content: center; 
    
}

.block-content {
    text-align: start;
    color: white;
    font-family: "Inter",serif;
    
}
.block-content .content-header{
   
    padding: 50px 80px 20px 80px;
    font-size: 40px;
    font-weight: bold;
}
.content-header .text-2light{
    color: hsl(277, 64%, 61%);
}
.block-content .content-body{
    padding: 0 80px;
    font-weight: 100;
    font-size: 18px;
    opacity: 0,5;
   
}
.block-content .content-footer{
    
    padding: 100px 80px;
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto;
}
.footer-column{
    font-family: "Lexend Deca",serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 15px;
   
   
 
}
.footer-text{
    letter-spacing: 2px;
    opacity: 0.5;
}
.right-block {
    width: 50%;
}
.right-block .image-block{
    height: 100%;
    width: 100%;
    object-fit: cover;
   
}
